body {
  background-color: #FFFEF2;
  background-image: none;
}
h1 {
  font-size: 2.5em;
  padding: 5px;
  padding-left: 30px;
  color: black;
}

.tt-page {
  margin-bottom: 20px;
}
.tt-page h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: black;
}

th {
  font-weight: normal;
}

#breadboard-and-chat-wrapper, #image-wrapper, #notes-wrapper {
  width: 800px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
}
#breadboard-and-chat-wrapper.multiple-clients, #image-wrapper.multiple-clients, #notes-wrapper.multiple-clients {
  width: 1000px;
}
#breadboard-and-chat-wrapper {
  position: relative;
  height: 500px;
}
#breadboard-wrapper.multiple-clients {
  width: 800px;
  position: absolute;
}
#sidebar-chat-wrapper.multiple-clients  {
  width: 200px;
  position: absolute;
  right: 0;
}
#image-wrapper {
  padding-top: 10px;
}


#breadboard-wrapper {
}

/* fix bug in MathPad overlay - the breadboard svg 'bleeds though' the MathPad overlay at full opacity and steals focus */
#breadboard-wrapper {
  opacity: 0.9999;
}

/*
.tt-notes:before{
  font-weight:700;
  content:"Notes:";
  display:block;
}
*/

#chat {
  position: relative;
}

#messages {
  position: relative;
  height: 103px;
  width: 607px;
  overflow: scroll;
}

#input {
  padding: 3px;
  padding-left: 10px;
  border-top: 1px solid #DDD;
}

.chat {
  padding: 2px;
  padding-left: 10px;
}

.chat.me {
  background-color: #eef;
}

#image-wrapper {
  text-align: center;
}

#values {
  position: absolute;
  top: -12px;
  right: 9px;
}

.stale {
  color: #CCC;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 1200ms ease-in;
  -moz-transition: opacity 1200ms ease-in;
  transition: opacity 1200ms ease-in;
}

.modalDialog > form {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #D0D0D0);
  background: -webkit-linear-gradient(#fff, #D0D0D0);
  background: -o-linear-gradient(#fff, #D0D0D0);
}

form label {
  display: block;
  margin: 0px;
}
form label>span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 15px;
  color: #646464;
}
form input[type="text"] {
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 9px;
  margin-right: 6px;
  margin-top: 9px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
form li {
  margin: 0;
  margin-left: 1em;
}
form .error {
  color: red;
}
form button:disabled {
  background-color: #CCC;
}

#chat form input[type="text"] {
  width: 65%;
}

.tt-notes {
  padding: 10px;
}

/* mathpad */
.mathpad-closed {
  position: absolute;
}

.mathpad-open {
  font: 14px Arial, Helvetica, sans-serif;
  position: absolute;
  width: 400px;
  border: 1px solid #777;
  background-color: #ddd;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

.mathpad .title {
  background-color: #f3951d;
  color: #fff;
  padding: 5px;
  cursor: move;
  font-weight: bold;
}
.mathpad .close {
  float: right;
  background-color: #fff;
  color: #f00;
  padding: 3px;
  font-size: 10px;
  cursor: pointer;
}

.mathpad .tabs {
  margin: 10px;
}
.mathpad .tabs .tab {
  float: left;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 12px;
}
.mathpad .tabs .active {
  background-color: #fff;
}
.mathpad .tabs .inactive {
  background-color: #eee;
}

.mathpad .history,
.mathpad .help
{
  clear: both;
  background-color: #fff;
  color: #000;
  padding: 10px;
  margin: 10px;
  height: 250px;
  overflow: auto;
  font-size: 12px;
}

.mathpad .help .intro {
  margin-top: -10px;
}
.mathpad .help p {
  margin: 10px 0;
}
.mathpad .help .header {
  font-weight: bold;
  margin: 5px 0;
}

.mathpad .help td {
  font-size: 12px;
  vertical-align: top;
  padding: 3px 3px 3px 0;
  border: 0;
}

.mathpad .history .history-item {
  clear: both;
  margin-bottom: 5px;
}

.mathpad .history .bubble {
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.mathpad .history .history-input {
  float: left;
  background-color: #86c6ff;
}
.mathpad .history .history-output {
  clear: both;
  float: right;
  background-color: #37edc1;
}

.mathpad .input {
  margin: 10px;
}
.mathpad .input input {
  width: 100%;
  padding: 5px;
  margin: 0;
}

.mathpad .output {
  margin: 10px;
}
.mathpad .output-error {
  color: #f00;
}

.submit-button-wrapper {
  text-align: center;
  padding: 10px;
}

.submit-button-popup {
  width: 700px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #D0D0D0);
  background: -webkit-linear-gradient(#fff, #D0D0D0);
  background: -o-linear-gradient(#fff, #D0D0D0);

  text-align: center;
}

.submit-button-popup  h1 {
  padding: 0;
}

.submit-button-popup  table {
  margin: 1em auto;
}

.submit-button-popup td.correct {
  color: #070;
}
.submit-button-popup td.incorrect {
  color: #700;
}
.submit-button-popup td.waiting {
  color: #007;
}

.sidebar-chat .sidebar-chat-items {
  padding: 10px;
  overflow: auto;
  height: 370px;
  background-color: #fff;
}
.sidebar-chat .sidebar-chat-items .chat-item {
  clear: both;
  margin-bottom: 5px;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sidebar-chat .sidebar-chat-items .chat-item-me {
  float: right;
  background-color: #37edc1;
}
.sidebar-chat .sidebar-chat-items .chat-item-others {
  float: left;
  background-color: #86c6ff;
}
.sidebar-chat .sidebar-chat-input {
  padding: 10px;
}
.sidebar-chat .sidebar-chat-input textarea {
  width: 170px;
  height: 60px;
}
.sidebar-chat .sidebar-chat-input button {
  margin-top: 5px;
}

.other-circuits-button-wrapper {
  text-align: center;
  padding: 10px;
}

.other-circuits-button-popup {
  width: 820px;
  position: relative;
  margin: 50px auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #D0D0D0);
  background: -webkit-linear-gradient(#fff, #D0D0D0);
  background: -o-linear-gradient(#fff, #D0D0D0);

  text-align: center;
}

.other-circuits-button-popup  h1 {
  padding: 0;
}

.other-circuits-button-popup .links {
  margin: 10px 0;
}
.other-circuits-button-popup .links a {
  margin: 0 10px;
  font-size: 18px;
}
.other-circuits-button-popup .links a.selected {
  font-weight: bold;
}
.other-circuits-button-popup .iframes {
  margin: 10px 0;
}
